body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    min-width: 400px;
}

#input-el {
    margin: 5px 0px;
    width: 100%;
    padding: 10px;
    border: 1px solid #5f9341;
    box-sizing: border-box; /* Eliminates the width of the container/border, since the width will add the padding into the measurement*/
}

#input-btn, #save-btn {
    background-color: #5f9341;
    color: antiquewhite;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
}

#delete-btn {
    background-color: inherit;
    color: #5f9341;
    font-weight: bold;
    padding: 9px 20px;
    border: 1px solid #5f9341; 
}

#ul-el {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

#ul-el > li,#ul-el > li > a {
    margin-top: 3px;
    color: #5f9341;
}

#ul-el > li > a:visited {
    color: #355324;
}