body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    background-image: url("./assets/green-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}

h1 {
    color: goldenrod;
    font-size: 4rem;
    text-shadow: 1px 1px rgb(40, 40, 40);
}

#message-el {
    font-style: italic;
}

#start-btn, #new-card-btn {
    width: 260px;
    margin: 0 40%;
    margin-bottom: 8px;
    color: darkgreen;
    font-size: inherit;
    font-weight: inherit;
    padding: 6px 0px;
    background-color: goldenrod;
    border: none;
    border-radius: 4px;
}


