* {
    margin: 0;
}

body {
    text-align: center;
}

.main-container {
    padding-top: 2rem;
    height: 100vh;
    background-color: rgb(65, 65, 65);
    color: white;
    display: flex;
    justify-content: center;
}

#home-container {
    margin-right: 2.5rem;
}

.headings {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

@font-face {
    font-family: 'Digital';
    src: url('./assets/digital-7.ttf');
}
.score-container {
    display: flex;
    margin: 1rem 0;
    background-color: black;
    height: 120px;
    width: 120px;
    border: none;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    font-family: Digital;
    font-size: 3.5rem;
}

.btn-holders {
    display: inline;
    word-spacing: 9px;
}

.but1, .but2, .but3 {
    padding: 0.4rem;
    background-color: black;
    border: 1px solid darkgray;
    color: darkgray;
    border-radius: 10%;
}

.but1:hover, .but2:hover, .but3:hover {
    background-color: rgb(38, 38, 38);
    color: antiquewhite;
    border: 1px solid antiquewhite;
}